.modalButtonClose {
  padding: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 20px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(33, 2, 112);
  padding: 20px 30px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  height: 500px;
  transform: scale(1);
}

.overlayOpenModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
  transform: scale(1);
}
